<h1>Welcome to {{ hotelName }}</h1>
<div [hidden]="hideRooms">
  Number of rooms:
  <div [innerText]="numberOfRooms"></div>
</div>

{{ rooms?.aviableRooms ?? "no Rooms" }}

<div *ngIf="rooms.aviableRooms > 0">
  Rooms List:
  <!-- {{roomList}} -->
  <table>
    <tr>
      <th>Room Number</th>
      <th>room Type</th>
      <th>Room Price</th>
      <th>Room amenities</th>
      <th>CheckIn Time</th>
    </tr>
    <tr *ngFor="let room of roomList">
      <td>{{room.roomNumber}}</td>
      <td>{{room.roomType}}</td>
      <td>{{room.price}}</td>
      <td>{{room.amenities}}</td>
      <td>{{room.checkInTime}}</td>
    </tr>
  </table>
</div>

<button (click)="toggle()">Toggle</button>
<!-- 3:51:56 -->
