/* You can add global styles to this file, and also import other style files */
app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.main {
  width: 100vw;
  display: grid;
  place-content: center;
}

app-cursos {

  display: grid;
  grid-template-columns: 2fr 2fr;
  place-content: center;
  place-items: center;
  box-sizing: border-box;
}

app-login {
width: 60vw;
}
